div.switch-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

p.toggle {
  width: 68px;
  height: 34px;
  background-image: var(--toggle-gradient);
  border-radius: 100px;
  cursor: pointer;
}

p.toggle:active,
p.toggle:hover {
  background-image: var(--toggle-gradient);
}

span.white-switch {
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
  top: 3px;
  left: 4px;
  background-color: white;
  border-radius: 100px;
  transition: left 0.3s ease-in;
}

span.white-switch.move-right {
  left: 36px;
  right: 3px;
  transition: left 0.3s linear;
}
